/* Allgemein */
body {
    font-family: "Yanone Kaffeesatz";
    font-size: 1.6rem;
}

.limegreen {
    color: limegreen;
}


/* Navigation */

.nav-link {
    cursor: pointer;
}

/* wenn curser drauf ist, Farbe grün wechseln */
.nav-link:active,
.nav-link:hover {
    /* !important benutzen, wenn man die Bootstrap Datein überschreibt */
    color: limegreen !important;
}

.icon-link {
    cursor: pointer;
}

/* svg benutzen, wenn die Ressorcen nicht von Bootstrap sind */
.icon-link:active svg,
.icon-link:hover svg {
    color: limegreen;
}